* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

main {
  background-color: hsl(210deg 36.36% 95.69%);
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-container {
    background-color: hsl(210deg 36.36% 95.69%);
    padding: 2em;
    width: 60%;
    height: 70%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: grid;
    grid-template-columns: 0fr 80% 0fr;
    justify-content: space-between;

    .col-1.logo {
      h1 {
        font-size: 2rem;
      }

      .bars-container {
        margin-top: 2em;
        .bar {
          background-color: #979797;
          height: 70px;
          width: 1px;
          margin-top: 0.3em;
        }
      }
    }

    .col-2.hero {
      text-transform: uppercase;
      position: relative;

      .heading {
        height: 200px; // important
        width: 500px; // important
        position: absolute;
        top: 70%;
        left: 0%;
        z-index: 10;
        transform: translate(0, -50%);
        overflow: hidden;

        h1 {
          opacity: 0;
          color: blue;
          font-size: 5rem;
          position: absolute;
          left: -100%;
          -webkit-text-stroke: 2px;
          -webkit-text-stroke-color: black;

          &:nth-child(1) {
            color: #ccb4c4;
          }
          &:nth-child(2) {
            color: #8198bc;
          }
          &:nth-child(3) {
            color: #d98300;
          }
        }
      }

      .image {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 11.8%;
        width: 0%;
        height: 85%;
        box-shadow: 0px 0px 3px 0px black;

        img {
          display: block;
          height: 110%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .col-3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .social {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .more {
      position: absolute;
      bottom: 5%;

      a {
        color: #000000cf;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  }
}
